.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17pxx;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.titlepage {
  position: center;
  margin-left: 200px;
  margin-right: 200px;
}
.titlepage a {
  background-image: url("goonman.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

